//variables to quickly abbreviate and adjust the screen sizes
$screen1: 800px;
$screen2: 800px;
$screen3: 1500px;
//quick reference for this gold color
$goldColor: rgb(208, 177, 76);
//the number of body text boxes
$gridCount: 4;